//====================================================================================================
// Hero
.hero {
    padding-bottom: toRem(0);
    padding-top: toRem(0);
    // .hero__container
    &__container {
    }
    // .hero__wrapper
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        @include adaptiveValue("padding-top", 130, 50);
        @include adaptiveValue("padding-bottom", 130, 50);
        @include adaptiveValue("padding-left", 170, 22);
        @include adaptiveValue("padding-right", 170, 22);
        border-radius: toRem(22);
        background: linear-gradient(279deg, #cdcdff 7.69%, #eef2ff 101%);
        box-shadow:
            0 2.044px 6.131px 0 rgba(0, 0, 0, 0.1),
            0 11.752px 15.328px 0 rgba(171, 236, 214, 0.2);
    }
    // .hero__subtitle
    &__subtitle {
        display: flex;
        align-items: center;
        gap: toRem(5);
        display: flex;
        padding: toRem(14) toRem(31);
        color: #4b4aef;
        @include adaptiveValue("font-size", 16, 10);
        line-height: toRem(24);
        border-radius: toRem(74);
        border: 1px solid #4b4aef;
        background: rgba(75, 74, 239, 0.07);
    }
    // .hero__title
    &__title {
        color: #00173a;
        @include adaptiveValue("font-size", 48, 25);
        font-size: var(--font-size-48, 48px);
        font-weight: 800;
        @include adaptiveValue("line-height", 62, 37);
        margin-top: toRem(13);
        span {
            color: #4b4aef;
        }
    }
    // .hero__desc
    &__desc {
        color: #00173a;
        @include adaptiveValue("font-size", 20, 16);
        line-height: toRem(36);
        margin-top: toRem(24);
    }
    // .hero__btn
    &__btn {
        border-radius: toRem(10);
        background: #ffca1d;
        padding: toRem(14);
        width: toRem(520);
        margin-top: toRem(31);
        color: #00173a;
        font-size: toRem(15);
        font-weight: 600;
        line-height: toRem(22);
        transition: 0.3s ease;
        @media (max-width: $tablet) {
            width: 100%;
        }
        @media (any-hover: hover) {
            &:hover {
                background: #eeb700;
            }
        }
    }
}
//====================================================================================================
// Serivces
.services {
    margin-top: toRem(35);
    @media (max-width: $tablet) {
        margin-top: toRem(0);
    }
    position: relative;
    &::before {
        content: "";
        position: absolute;
        bottom: toRem(-40);
        left: toRem(-200);
        width: toRem(385);
        height: toRem(385);
        border-radius: 100%;
        z-index: -1;
        background-color: rgba(131, 130, 243, 0.18);
        @media (max-width: $tablet) {
            left: toRem(-290);
            bottom: toRem(-150);
        }
        @media (max-width: $mobile) {
            display: none;
        }
    }
    &::after {
        content: "";
        position: absolute;
        top: toRem(100);
        right: toRem(-200);
        width: toRem(385);
        height: toRem(385);
        border-radius: 100%;
        z-index: -1;
        background-color: #afafff;
        @media (max-width: $tablet) {
            right: toRem(-250);
        }
        @media (max-width: $mobile) {
            display: none;
        }
    }
    // .services__container
    &__container {
    }
    // .services__title
    &__title {
        position: relative;
        @media (max-width: $tablet) {
            max-width: toRem(460);
            text-align: center;
            margin: 0 auto;
        }
        &::before {
            content: "";
            position: absolute;
            @include adaptiveValue("right", 130, -180);
            bottom: toRem(14);
            width: toRem(78);
            height: toRem(78);
            border-radius: 100%;
            background-color: #e9e8fd;
            @media (max-width: $mobile) {
                display: none;
            }
            @media (max-width: $tablet) {
                bottom: toRem(50);
                z-index: -1;
                right: toRem(-60);
            }
        }
    }
    // .services__desc
    &__desc {
    }
    // .services__btn
    &__btn {
        display: block;
        margin: 0 auto;
        margin-top: toRem(30);
    }
    // .services__wrapper
    &__wrapper {
        @include adaptiveValue("margin-top", 70, 40);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: toRem(26);
        @include adaptiveValue("row-gap", 30, 20);
        @media (max-width: $mobile) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    // .services__item
    &__item {
        display: flex;
        align-items: center;
        @include adaptiveValue("gap", 40, 20);
        padding: toRem(30);
        border-radius: toRem(20);
        border: 2px solid transparent;
        background: #fff;
        box-shadow: 0 4px 20.6px 0 rgba(0, 0, 0, 0.15);
        box-sizing: border-box;
        transition:
            0.3s ease,
            border-color 0.3s ease;

        @media (any-hover: hover) {
            &:hover {
                border-color: #ffca1d;
            }
        }
    }
    // .services__item-img
    &__item-img {
        max-width: toRem(80);
    }
    // .services__item-title
    &__item-title {
        color: #4b5563;
        @include adaptiveValue("font-size", 30, 20);
        font-weight: 600;
        line-height: toRem(33); /* 110% */
    }
    &__item-link {
        display: flex;
        margin-top: toRem(16);
        gap: toRem(4);
        color: #ffca1d;
        line-height: toRem(24); /* 150% */
    }
}
//========================================================================================================================================================
// Benefits
.benefits {
    // .benefits__container
    &__container {
    }
    // .benefits__wrapper
    &__wrapper {
        display: flex;
        align-items: center;
        column-gap: toRem(18);
        padding: toRem(80) toRem(85);
        border-radius: toRem(22);
        border: 1px solid #dcdce2;
        background: #f8f8f8;
        @media (max-width: $tablet) {
            flex-wrap: wrap;
            row-gap: toRem(30);
            justify-content: center;
        }
        @media (max-width: $mobile) {
            row-gap: toRem(20);
            padding: toRem(50) toRem(20);
        }
    }
    // .benefits__content
    &__content {
        max-width: toRem(516);
        @media (max-width: $mobile) {
            max-width: 100%;
        }
    }
    // .benefits__title
    &__title {
        text-align: left;
        position: relative;

        span {
            position: relative;
            display: inline-block;
            z-index: 1;
            &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: toRem(2);
                width: 100%;
                height: 17px;
                background: rgba(255, 202, 29, 0.32);
                // z-index: -1;
            }
        }
    }
    // .benefits__descr
    &__desc {
        text-align: left;
    }
    // .benefits__btn
    &__btn {
        @media (max-width: $tablet) {
            display: block;
            margin: 0 auto;
            margin-top: toRem(40);
        }
    }
    // .benefits__items
    &__items {
        display: flex;
        gap: toRem(77);
        @media (max-width: $tablet) {
            margin-top: toRem(30);
            justify-content: space-between;
        }
        @media (max-width: $mobile) {
            justify-content: center;
            row-gap: toRem(20);
            gap: toRem(27);
            flex-wrap: wrap;
        }
    }
    // .benefits__item
    &__item {
        text-align: center;
    }
    // .benefits__subtitle
    &__subtitle {
        color: #4b5563;
        @include adaptiveValue("font-size", 25, 18);
        font-weight: 700;
        line-height: toRem(48); /* 192% */
        margin-top: toRem(10);
    }
}
//========================================================================================================================================================
// About
.about {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: toRem(260);
        right: toRem(-200);
        width: toRem(385);
        height: toRem(385);
        border-radius: 100%;
        z-index: -1;
        background-color: rgba(131, 130, 243, 0.18);
        @media (max-width: $tablet) {
            right: toRem(-250);
            top: toRem(60);
        }
        @media (max-width: $mobile) {
            display: none;
        }
    }
    // .about__container
    &__container {
    }
    // .about__wrapper
    &__wrapper {
        display: flex;
        align-items: center;
        gap: toRem(30);
        @media (max-width: $tablet) {
            flex-wrap: wrap;
        }
        @media (max-width: $mobile) {
            gap: toRem(23);
        }
    }
    // .about__img
    &__img {
        position: relative;
        @media (max-width: $tablet) {
            order: 1;
            width: 100%;
            min-height: toRem(340);
            img {
                max-width: toRem(420);
                position: absolute;
                top: toRem(-100);
                right: toRem(50);
            }
        }
        @media (max-width: $mobile) {
            img {
                position: relative;
                top: 0;
                right: 0;
                max-width: 100%;
                width: 100%;
            }
        }
        &::before {
            content: "";
            position: absolute;
            left: toRem(160);
            bottom: toRem(-30);
            width: toRem(78);
            height: toRem(78);
            border-radius: 100%;
            background-color: #e9e8fd;
            @media (max-width: $tablet) {
                bottom: toRem(220);
                z-index: -1;
                left: toRem(150);
            }
            @media (max-width: $mobile) {
                display: none;
            }
        }
    }
    // .about__content
    &__content {
        @media (max-width: $tablet) {
            max-width: toRem(596);
        }
    }
    // .about__title
    &__title {
        text-align: left;
    }
    // .about__desc
    &__desc {
        text-align: left;
    }
    // .about__btn
    &__btn {
        width: auto;
        padding: toRem(10) toRem(63);
    }
}
//========================================================================================================================================================
// cta
.cta {
    padding-bottom: toRem(20);
    // .cta__container
    &__container {
    }
    // .cta__wrapper
    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: toRem(88) toRem(80);
        background-image: url("@img/cta.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        border-radius: toRem(22);
        @media (max-width: $tablet) {
            background-image: url("@img/cta-tab.jpg");
        }
        @media (max-width: $mobile) {
            padding: toRem(55) toRem(20);
            background-image: url("@img/cta-mob.jpg");
        }
    }
    // .cta__title
    &__title {
        color: #00173a;
        @include adaptiveValue("font-size", 56, 20);
        font-weight: 700;
        line-height: toRem(84); /* 150% */
    }
    // .cta__desc
    &__desc {
        color: #00173a;
        max-width: toRem(426);
        line-height: toRem(24); /* 150% */
    }
    // .cta__btn
    &__btn {
    }
}
//========================================================================================================================================================
// Contact
.contact {
    padding-top: toRem(20);
    @include adaptiveValue("padding-bottom", 150, 80);
    // .contact__container
    &__container {
    }
    // .contact__wrapper
    &__wrapper {
        display: flex;
        gap: toRem(40);
        justify-content: space-between;
        @media (max-width: $tablet) {
            flex-wrap: wrap;
        }
    }
    // .contact__content
    &__content {
        max-width: toRem(755);
        border-radius: toRem(30);
        border: 1px solid #585858;
        background: #7676a9;
        padding: toRem(72) toRem(57);
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        color: #fff;
        text-align: left;
        @media (max-width: $tablet) {
            max-width: 100%;
        }
        @media (max-width: $mobile) {
            padding: toRem(50) toRem(20);
        }
    }
    // .contact__title
    &__title {
        text-align: left;
        color: #fff;
        font-weight: 600;
        line-height: var(--font-size-48, 48px); /* 150% */
    }
    // .contact__desc
    &__desc {
        color: #fff;
        text-align: left;
        margin-top: toRem(52);
        padding-bottom: toRem(25);
        border-bottom: 2px solid #ffca1d;
        font-size: toRem(18);
        font-style: normal;
        line-height: toRem(27); /* 150% */

        @media (max-width: $mobile) {
            margin-top: toRem(20);
            font-size: toRem(16);
        }
    }
    // .contact__list
    &__list {
        @include adaptiveValue("margin-top", 80, 40);
        display: flex;
        flex-direction: column;
        gap: toRem(24);
    }
    // .contact__list-item
    &__list-item {
        position: relative;
        padding-left: 40px;
        font-size: toRem(18);
        font-weight: 600;
        line-height: toRem(27); /* 150% */
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 24px;
            height: 24px;
            background-size: contain;
            background-repeat: no-repeat;
        }

        &:nth-child(1)::before {
            background-image: url("@img/phone-icon.svg");
        }

        &:nth-child(2)::before {
            background-image: url("@img/email-icon.svg");
        }

        &:nth-child(3)::before {
            background-image: url("@img/location-icon.svg");
        }
    }
    // .contact__form
    &__form {
        display: flex;
        flex-direction: column;
        gap: toRem(16);
        border-radius: 16px;
        border: 1px solid #e5e7eb;
        background: #fff;
        max-width: toRem(456);
        padding: toRem(55) toRem(40);
        box-shadow:
            0 4px 20px 0 rgba(0, 0, 0, 0.15),
            0 1px 3px 0 rgba(0, 0, 0, 0.1),
            0 1px 2px -1px rgba(0, 0, 0, 0.1);
        @media (max-width: $tablet) {
            max-width: 100%;
        }
        input {
            border-radius: toRem(5);
            border: 1px solid #dcdce2;
            background: #fff;
            padding: toRem(15);
            color: #9ca3af;
            font-size: toRem(16);
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        textarea {
            padding: toRem(15);
            border-radius: toRem(5);
            border: 1px solid #e5e7eb;
            background: #fff;
            height: toRem(180);
            resize: none;
        }
        @media (max-width: $tablet) {
            max-width: 100%;
            width: 100%;
            margin: 0 toRem(20);
        }
        @media (max-width: $mobile) {
            padding: toRem(20);
        }
    }
    &__btn {
        max-width: 100%;
        width: 100%;
    }
}

// Form
.form {
    // .form__line
    &__line {
        display: flex;
        justify-content: space-between;
        gap: toRem(20);
        div {
            width: toRem(315);
            @media (max-width: $mobile) {
                width: 100%;
            }
        }
        @media (max-width: $mobile) {
            flex-wrap: wrap;
        }
    }
}

.form__file {
    display: flex;
    align-items: center;
    gap: toRem(10);

    .file-label {
        color: #585858;
        font-size: toRem(16);
        font-style: normal;
        padding: toRem(12) toRem(7);
        border: 1px solid #e5e7eb;
        background: #fff;
        transition: 0.3s ease;
        &:hover {
            border-color: #ffca1d;
            background: rgba(255, 202, 29, 0.1);
            cursor: pointer;
        }
    }

    .file-input {
        display: none;
    }

    .file-chosen {
        font-size: 14px;
        color: #555;
    }
}

.upload__subtitle {
    display: block;
    color: #00173a;
    font-weight: 600;
    margin-top: toRem(8);
}

.form__checkbox {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    color: #ffca1d;
    width: 100%;

    input[type="checkbox"] {
        display: none;
    }

    label {
        position: relative;
        padding-left: 28px;
        cursor: pointer;
        // color: red;
        width: 100%;
        color: #585858;
        font-size: toRem(16);
        font-style: normal;
        line-height: toRem(24); /* 150% */
        span {
            color: #00173a;

            font-style: normal;
            font-weight: 600;
            line-height: toRem(24);
        }
        a {
            color: #00173a;

            line-height: toRem(24); /* 150% */
            text-decoration-line: underline;
            text-decoration-style: solid;
            text-decoration-skip-ink: auto;
            text-decoration-thickness: auto;
            text-underline-offset: auto;
            text-underline-position: from-font;
        }

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: toRem(20);
            height: toRem(20);
            border: 1px solid #ffca1d;
            border-radius: 3px;
            background: #fff;
            transition: all 0.3s;
        }

        &::after {
            content: "";
            position: absolute;
            left: 4px;
            top: 50%;
            transform: translateY(-50%) scale(0);
            width: 12px;
            height: 12px;
            background: #ffca1d;
            border-radius: 2px;
            transition: transform 0.2s ease;
        }
    }

    input[type="checkbox"]:checked + label::after {
        transform: translateY(-50%) scale(1);
    }
}
//========================================================================================================================================================
// ABOUT PAGE
//========================================================================================================================================================
.about-us {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: toRem(-170);
        right: toRem(240);
        width: toRem(197);
        height: toRem(197);
        border-radius: 100%;
        z-index: -1;
        background-color: rgba(131, 130, 243, 0.18);
        @media (max-width: $tablet) {
            right: toRem(260);
            top: toRem(-50);
            width: toRem(64);
            height: toRem(64);
        }
        @media (max-width: $mobile) {
            display: none;
        }
    }
    &::after {
        content: "";
        position: absolute;
        top: toRem(60);
        right: toRem(-140);
        width: toRem(385);
        height: toRem(385);
        border-radius: 100%;
        z-index: -1;
        background-color: #afafff;
        @media (max-width: $tablet) {
            top: toRem(-280);
            right: toRem(-160);
        }
        @media (max-width: $mobile) {
            display: none;
        }
    }
    // .about-us__container
    &__container {
    }
    // .about-us__title
    &__title {
        color: #000;
        font-size: var(--font-size-48, 48px);
        @include adaptiveValue("font-size", 48, 25);
        font-style: normal;
        font-weight: 600;
        text-align: left;
    }
    // .about-us__wrapper
    &__wrapper {
        display: flex;
        gap: toRem(45);
        align-items: flex-end;
        @media (max-width: $tablet) {
            flex-wrap: wrap;
        }
    }
    // .about-us__desc
    &__desc {
        max-width: toRem(627);
        color: #00173a;
        @include adaptiveValue("font-size", 24, 16);
        font-style: normal;
        font-weight: 400;
        line-height: 36px;
        margin-top: toRem(21);
        span {
            color: #000;
            font-weight: 700;
        }
        @media (max-width: $tablet) {
            max-width: 100%;
        }
        @media (max-width: $mobile) {
            line-height: 150%;
        }
    }
    // .about-us__contact
    &__contact {
        max-width: toRem(390);
        padding: toRem(30);
        border-radius: toRem(20);
        border: 1px solid #e5e7eb;
        background: #fff;
        box-shadow: 0 4px 20.6px 0 rgba(0, 0, 0, 0.1);
        @media (max-width: $tablet) {
            max-width: 100%;
            width: 100%;
        }
    }
    // .about-us__contact-list
    &__contact-list {
        display: flex;
        flex-direction: column;
        gap: toRem(30);
    }
    // .about-us__contact-item
    &__contact-item {
        color: #000;
        font-size: toRem(18);
        font-style: normal;
        font-weight: 600;
        line-height: toRem(27); /* 150% */
        position: relative;
        padding-left: toRem(40);
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 24px;
            height: 24px;
            background-size: contain;
            background-repeat: no-repeat;
        }

        &:nth-child(1)::before {
            background-image: url("@img/icon-phone-2.svg");
        }

        &:nth-child(2)::before {
            background-image: url("@img/icon-email-2.svg");
        }

        &:nth-child(3)::before {
            background-image: url("@img/icon-location-2.svg");
        }
    }
}
//========================================================================================================================================================
.benefits-v2__desc {
    color: #00173a;
    @include adaptiveValue("font-size", 18, 16);
    @include adaptiveValue("line-height", 27, 24);
    span {
        font-weight: 700;
    }
}
.benefits {
    // .benefits__bottom
    &__bottom {
        display: flex;
        align-items: center;
        column-gap: toRem(18);
        padding: toRem(80) toRem(85);
        padding-top: toRem(25);
        border-radius: toRem(0) toRem(0) toRem(22) toRem(22);
        border: 1px solid #dcdce2;
        border-top: none;
        background: #f8f8f8;
        @media (max-width: $mobile) {
            padding: toRem(50) toRem(20);
        }
    }
    // .benefits__bottom-list
    &__bottom-list {
        display: grid;
        grid-template-columns: 299px 216px 249px 299px;
        row-gap: toRem(27);
        column-gap: toRem(20);
        @media (max-width: $tablet) {
            grid-template-columns: repeat(2, 1fr);
            display: none;
        }
        @media (max-width: $mobile) {
            grid-template-columns: repeat(1, 1fr);
        }
        &-tab {
            display: none;
            @media (max-width: $tablet) {
                display: grid;
            }
            @media (max-width: $mobile) {
                display: none;
            }
        }
        &-mob {
            display: none;
            @media (max-width: $mobile) {
                display: grid;
            }
        }
    }
    // .benefits__bottom-item
    &__bottom-item {
        color: #4b5563;
        @include adaptiveValue("font-size", 18, 16);
        padding-left: toRem(30);
        position: relative;
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 24px;
            height: 24px;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url("@img/list-item.svg");
        }
    }
}
.benefits__wrapper-v2 {
    border-radius: toRem(22) toRem(22) toRem(0) toRem(0);
    border-bottom: none;
    padding-bottom: toRem(25);
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: toRem(60);
        left: toRem(-110);
        width: toRem(94);
        height: toRem(94);
        border-radius: 100%;
        z-index: -1;
        background-color: rgba(131, 130, 243, 0.18);
        @media (max-width: $tablet) {
            display: none;
        }
    }
}

.benefits__content-v2 {
    max-width: toRem(513);
    @media (max-width: $tablet) {
        max-width: 100%;
    }
}
//========================================================================================================================================================
.mission {
    @include adaptiveValue("padding-bottom", 150, 80);
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: toRem(120);
        left: toRem(-200);
        width: toRem(385);
        height: toRem(385);
        border-radius: 100%;
        z-index: -1;
        background-color: rgba(131, 130, 243, 0.18);
        @media (max-width: $tablet) {
            display: none;
        }
    }
    // .mission__container
    &__container {
    }
    // .mission__title
    &__title {
        text-align: left;
    }
    // .mission__wrapper
    &__wrapper {
        margin-top: toRem(60);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: toRem(26);
        @media (max-width: $tablet) {
            grid-template-columns: repeat(1, 1fr);
        }
        @media (max-width: $mobile) {
            margin-top: toRem(40);
        }
    }
    // .mission__item
    &__item {
        padding: toRem(48);
        border-radius: toRem(8);
        border: 1px solid #e5e7eb;
        background: #fff;
        box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);

        @media (max-width: $mobile) {
            padding: toRem(50) toRem(20);
        }
    }
    // .mission__item-title
    .mission {
        &__item-title {
            font-size: toRem(22);
            font-weight: 600;
            color: #8382f3;
        }

        &__item {
            &:nth-of-type(2n) {
                .mission__item-title {
                    color: #fd9b79;
                }
            }
        }
    }

    // .mission__item-desc
    &__item-desc {
        margin-top: toRem(24);
        color: #00173a;
        @include adaptiveValue("font-size", 18, 16);
        line-height: toRem(27);
        span {
            color: #00173a;
            font-weight: 700;
        }
        @media (max-width: $mobile) {
            margin-top: toRem(20);
            line-height: toRem(24);
        }
    }
}
.section {
    // .section__title
    &__title {
    }
}

//========================================================================================================================================================
