//====================================================================================================
// Hero
.hero {
    padding-bottom: toRem(0);
    padding-top: toRem(0);
    // .hero__container
    &__container {
    }
    // .hero__wrapper
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        @include adaptiveValue("padding-top", 130, 50);
        @include adaptiveValue("padding-bottom", 130, 50);
        @include adaptiveValue("padding-left", 170, 22);
        @include adaptiveValue("padding-right", 170, 22);
        border-radius: toRem(22);
        background: linear-gradient(279deg, #cdcdff 7.69%, #eef2ff 101%);
        box-shadow:
            0 2.044px 6.131px 0 rgba(0, 0, 0, 0.1),
            0 11.752px 15.328px 0 rgba(171, 236, 214, 0.2);
    }
    // .hero__subtitle
    &__subtitle {
        display: flex;
        align-items: center;
        gap: toRem(5);
        display: flex;
        padding: toRem(14) toRem(31);
        color: #4b4aef;
        @include adaptiveValue("font-size", 16, 10);
        line-height: toRem(24);
        border-radius: toRem(74);
        border: 1px solid #4b4aef;
        background: rgba(75, 74, 239, 0.07);
    }
    // .hero__title
    &__title {
        color: #00173a;
        @include adaptiveValue("font-size", 48, 25);
        font-size: var(--font-size-48, 48px);
        font-weight: 800;
        @include adaptiveValue("line-height", 62, 37);
        margin-top: toRem(13);
        span {
            color: #4b4aef;
        }
    }
    // .hero__desc
    &__desc {
        color: #00173a;
        @include adaptiveValue("font-size", 20, 16);
        line-height: toRem(36);
        margin-top: toRem(24);
    }
    // .hero__btn
    &__btn {
        border-radius: toRem(10);
        background: #ffca1d;
        padding: toRem(14);
        width: toRem(520);
        margin-top: toRem(31);
        color: #00173a;
        font-size: toRem(15);
        font-weight: 600;
        line-height: toRem(22);
        transition: 0.3s ease;
        @media (max-width: $tablet) {
            width: 100%;
        }
        @media (any-hover: hover) {
            &:hover {
                background: #eeb700;
            }
        }
    }
}
//====================================================================================================
// Serivces
.services {
    margin-top: toRem(35);
    @media (max-width: $tablet) {
        margin-top: toRem(0);
    }
    position: relative;
    &::before {
        content: "";
        position: absolute;
        bottom: toRem(-40);
        left: toRem(-200);
        width: toRem(385);
        height: toRem(385);
        border-radius: 100%;
        z-index: -1;
        background-color: rgba(131, 130, 243, 0.18);
        @media (max-width: $tablet) {
            left: toRem(-290);
            bottom: toRem(-150);
        }
        @media (max-width: $mobile) {
            display: none;
        }
    }
    &::after {
        content: "";
        position: absolute;
        top: toRem(100);
        right: toRem(-200);
        width: toRem(385);
        height: toRem(385);
        border-radius: 100%;
        z-index: -1;
        background-color: #afafff;
        @media (max-width: $tablet) {
            right: toRem(-250);
        }
        @media (max-width: $mobile) {
            display: none;
        }
    }
    // .services__container
    &__container {
    }
    // .services__title
    &__title {
        position: relative;
        @media (max-width: $tablet) {
            max-width: toRem(460);
            text-align: center;
            margin: 0 auto;
        }
        &::before {
            content: "";
            position: absolute;
            @include adaptiveValue("right", 130, -180);
            bottom: toRem(14);
            width: toRem(78);
            height: toRem(78);
            border-radius: 100%;
            background-color: #e9e8fd;
            @media (max-width: $mobile) {
                display: none;
            }
            @media (max-width: $tablet) {
                bottom: toRem(50);
                z-index: -1;
                right: toRem(-60);
            }
        }
    }
    // .services__desc
    &__desc {
    }
    // .services__btn
    &__btn {
        display: block;
        margin: 0 auto;
        margin-top: toRem(30);
    }
    // .services__wrapper
    &__wrapper {
        @include adaptiveValue("margin-top", 70, 40);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: toRem(26);
        @include adaptiveValue("row-gap", 30, 20);
        @media (max-width: $mobile) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    // .services__item
    &__item {
        display: flex;
        align-items: center;
        @include adaptiveValue("gap", 40, 20);
        padding: toRem(30);
        border-radius: toRem(20);
        border: 2px solid transparent;
        background: #fff;
        box-shadow: 0 4px 20.6px 0 rgba(0, 0, 0, 0.15);
        box-sizing: border-box;
        transition:
            0.3s ease,
            border-color 0.3s ease;

        @media (any-hover: hover) {
            &:hover {
                border-color: #ffca1d;
            }
        }
    }
    // .services__item-img
    &__item-img {
        max-width: toRem(80);
    }
    // .services__item-title
    &__item-title {
        color: #4b5563;
        @include adaptiveValue("font-size", 30, 20);
        font-weight: 600;
        line-height: toRem(33); /* 110% */
    }
    &__item-link {
        display: flex;
        margin-top: toRem(16);
        gap: toRem(4);
        color: #ffca1d;
        line-height: toRem(24); /* 150% */
    }
}
//========================================================================================================================================================
// Benefits
.benefits {
    // .benefits__container
    &__container {
    }
    // .benefits__wrapper
    &__wrapper {
        display: flex;
        align-items: center;
        column-gap: toRem(18);
        padding: toRem(80) toRem(85);
        border-radius: toRem(22);
        border: 1px solid #dcdce2;
        background: #f8f8f8;
        @media (max-width: $tablet) {
            flex-wrap: wrap;
            row-gap: toRem(30);
            justify-content: center;
        }
        @media (max-width: $mobile) {
            row-gap: toRem(20);
            padding: toRem(50) toRem(20);
        }
    }
    // .benefits__content
    &__content {
        max-width: toRem(516);
        @media (max-width: $mobile) {
            max-width: 100%;
        }
    }
    // .benefits__title
    &__title {
        text-align: left;
    }
    // .benefits__descr
    &__desc {
        text-align: left;
    }
    // .benefits__btn
    &__btn {
        @media (max-width: $tablet) {
            display: block;
            margin: 0 auto;
            margin-top: toRem(40);
        }
    }
    // .benefits__items
    &__items {
        display: flex;
        gap: toRem(77);
        @media (max-width: $tablet) {
            margin-top: toRem(30);
            justify-content: space-between;
        }
        @media (max-width: $mobile) {
            justify-content: center;
            row-gap: toRem(20);
            gap: toRem(27);
            flex-wrap: wrap;
        }
    }
    // .benefits__item
    &__item {
        text-align: center;
    }
    // .benefits__subtitle
    &__subtitle {
        color: #4b5563;
        @include adaptiveValue("font-size", 25, 18);
        font-weight: 700;
        line-height: toRem(48); /* 192% */
        margin-top: toRem(10);
    }
}
//========================================================================================================================================================
// About
.about {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: toRem(260);
        right: toRem(-200);
        width: toRem(385);
        height: toRem(385);
        border-radius: 100%;
        z-index: -1;
        background-color: rgba(131, 130, 243, 0.18);
        @media (max-width: $tablet) {
            right: toRem(-250);
            top: toRem(60);
        }
        @media (max-width: $mobile) {
            display: none;
        }
    }
    // .about__container
    &__container {
    }
    // .about__wrapper
    &__wrapper {
        display: flex;
        align-items: center;
        gap: toRem(30);
        @media (max-width: $tablet) {
            flex-wrap: wrap;
        }
        @media (max-width: $mobile) {
            gap: toRem(23);
        }
    }
    // .about__img
    &__img {
        position: relative;
        @media (max-width: $tablet) {
            order: 1;
            width: 100%;
            min-height: toRem(340);
            img {
                max-width: toRem(420);
                position: absolute;
                top: toRem(-100);
                right: toRem(50);
            }
        }
        @media (max-width: $mobile) {
            img {
                position: relative;
                top: 0;
                right: 0;
                max-width: 100%;
                width: 100%;
            }
        }
        &::before {
            content: "";
            position: absolute;
            left: toRem(160);
            bottom: toRem(-30);
            width: toRem(78);
            height: toRem(78);
            border-radius: 100%;
            background-color: #e9e8fd;
            @media (max-width: $tablet) {
                bottom: toRem(220);
                z-index: -1;
                left: toRem(150);
            }
            @media (max-width: $mobile) {
                display: none;
            }
        }
    }
    // .about__content
    &__content {
        @media (max-width: $tablet) {
            max-width: toRem(596);
        }
    }
    // .about__title
    &__title {
        text-align: left;
    }
    // .about__desc
    &__desc {
        text-align: left;
    }
    // .about__btn
    &__btn {
        width: auto;
        padding: toRem(10) toRem(63);
    }
}
//========================================================================================================================================================
// cta
.cta {
    // .cta__container
    &__container {
    }
    // .cta__wrapper
    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: toRem(88) toRem(80);
        background-image: url("@img/cta.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        border-radius: toRem(22);
        @media (max-width: $tablet) {
            background-image: url("@img/cta-tab.jpg");
        }
        @media (max-width: $mobile) {
            padding: toRem(55) toRem(20);
            background-image: url("@img/cta-mob.jpg");
        }
    }
    // .cta__title
    &__title {
        color: #00173a;
        @include adaptiveValue("font-size", 56, 20);
        font-weight: 700;
        line-height: toRem(84); /* 150% */
    }
    // .cta__desc
    &__desc {
        color: #00173a;
        max-width: toRem(426);
        line-height: toRem(24); /* 150% */
    }
    // .cta__btn
    &__btn {
    }
}

//========================================================================================================================================================
